root = true
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 3  # for nested sphinx directives in markdown

[*.py]
indent_style = space
indent_size = 4

[*.{json,yaml}]
indent_style = space
indent_size = 2