section > object[type="image/svg+xml"] {
    max-width: 100%;
}

html[data-mode="dark"] section > object[type="image/svg+xml"], html[data-mode="dark"] section div.figure > p > img {
    filter: invert(1) hue-rotate(180deg);
}
