/* FONT */

@import url("https://fontsapi.zeoseven.com/69/main/result.css");
@import url("https://fontsapi.zeoseven.com/292/main/result.css");

main, aside {
    font-family: "LXGW WenKai";
    font-weight: normal;
}

body {
    font-family: "Noto Sans CJK";
    font-weight: normal;
}

strong {
    filter: contrast(2);
}

/* DARK MODE FIX */

html[data-theme="dark"] img[alt="Figure made with TikZ"], html[data-theme="dark"] object[type="image/svg+xml"], pre.mermaid>svg {
    filter: invert(1) hue-rotate(180deg);
}

html[data-theme="light"] pre.mermaid>svg {
    filter: unset;
}

html[data-theme="dark"]  figure img {
    filter: brightness(0.8);
}

html[data-theme="dark"] mjx-container {
    filter: brightness(0.9);
}

a.current {
    filter: saturate(0.8) contrast(1.5);
    text-shadow: none !important;
    font-weight: bolder !important;
}

/* FIGURE FIX */

section > object[type="image/svg+xml"] {
    max-width: 100%;
}

figure {
    overflow-x: auto;
}

figure img {
    border-radius: 8px;
    margin: 16px;
    box-sizing: content-box;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.figure {
    width: 100%;
}

/* EPUB BLOCK MATH FIX*/

div.math:not(.notranslate) {
    display: block;
    text-align: center;
}
